workflows/production_gmail_handler.json
{
    "name": "Production - Gmail Contact Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "contact-form",
                "options": {}
            },
            "id": "e4450952-4752-4303-911a-784865181766",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                820,
                340
            ],
            "webhookId": "contact-form"
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "New Contact Form Submission",
                "message": "={{ 'Name: ' + $json.name + '<br>Email: ' + $json.email + '<br>Message: ' + $json.message }}",
                "toEmail": "wessinsoriano@gmail.com"
            },
            "id": "4b684074-8848-43d8-a87f-e283258c70d4",
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1040,
                340
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Email queued via Gmail\"\n}",
                "options": {}
            },
            "id": "9c105435-08e7-4c4f-9e7f-771485665321",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1260,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}